# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production
.env.production.local
.env.development.local

# Release binaries
release/win-unpacked/
release/*.exe
release/*.blockmap
release/builder-effective-config.yaml
release/latest.yml
release/.icon-ico/

# Build artifacts & electron-builder caches
build/
win32-x64-template-*/